.sideBar{
  left: 0;
  position: absolute;
  width: 215px;
  margin-left: 15px;
  border-right: 1px solid #EEE;
  margin-right: 10px;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
  display: none;
}

.sideBar.sticky-sidebar{
  position: fixed;
  top: 10px;
}

.sideBar h5{
  padding-left: 5px;
}

.sideBar .sidebar-btn{
  position: absolute;
  right: 10px;
  top: 0;
}

.sideBar ul{
  padding-left: 8px;
}

.sideBar ul li{
  display: inline-block;
  background: white;
  padding: 4px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid lightblue;
  font-size: 15px;
}
.sideBar ul li:hover{
  opacity: 0.8;
  background-color: lightyellow;
  cursor: default;
}

.sideBar.highlight-kik .kik,
.sideBar.highlight-textnow .textnow,
.sideBar.highlight-match3 .match3,
.sideBar.highlight-projectsobeys .projectsobeys,
.sideBar.highlight-bonified .bonified,
.sideBar.highlight-surveyhide .surveyhide,
.sideBar.highlight-hop .hop,
.sideBar.highlight-htn .htn,
.sideBar.highlight-r .r{
  -webkit-box-shadow: 1px 1px 5px 1px rgba(89, 127, 204, 0.8);
  -moz-box-shadow:    1px 1px 5px 1px rgba(89, 127, 204, 0.8);
  box-shadow:         1px 1px 5px 1px rgba(89, 127, 204, 0.8);
  background-color: lightyellow;
}

.sb-effect .sb-menu{
  z-index: 1;
}

.sb-menu{
  transition: opacity 0.5s;
}

.sb-pusher{
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
}

.sb-content{
  position: relative;
}

.sb-effect .sb-pusher{
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media ( min-width: 840px){
  .sb-menu {
    display: block;
  }

  .sb-pusher {
    left: 230px;
    position: absolute;
  }
}
